# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
.env
*.env

# Java / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/
target/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker
*.override.yml
